<ion-view title="Answers" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="answers-heading5" style="color:#000000;font-weight:300;">Summary of your answers</h3>
    <ion-list id="answers-list3">
      <ion-item class="item-icon-left" id="answers-list-item10">
        <i class="icon ion-ionic"></i>Answers from question 1: <br> {{question1}}</ion-item>
      <ion-item class="item-icon-left" id="answers-list-item11">
        <i class="icon ion-ionic"></i>Answers from question 2: <br>Starter: {{question2[0]}} <br>First Course:  {{question2[1]}} <br>Main dish: {{question2[2]}} <br>Dessert: {{question2[3]}}</ion-item>
      <ion-item class="item-icon-left" id="answers-list-item12">
        <i class="icon ion-ionic"></i>Answers from question 3: <br> {{question3}}</ion-item>
      <ion-item class="item-icon-left" id="answers-list-item13">
        <i class="icon ion-ionic"></i>Answers from question 4:  <br>Name: {{question4[0]}} <br>Email: {{question4[1]}} <br>Phone: {{question4[2]}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>