<ion-view title="Question 1" id="page1">
  <ion-content padding="true" class="has-header">
    <h3 id="question1-heading1" style="color:#000000;font-weight:300;">The meal I ordered was</h3>
    <form id="question1-form1" class="list">
      <ion-radio id="question1-radio1" value="Excellent" ng-model="mdl.question1">Excellent</ion-radio>
      <ion-radio id="question1-radio2" value="Good"      ng-model="mdl.question1">Good    </ion-radio>
      <ion-radio id="question1-radio3" value="Regular"   ng-model="mdl.question1">Regular </ion-radio>
      <ion-radio id="question1-radio4" value="Bad"       ng-model="mdl.question1">Bad     </ion-radio>
      <ion-radio id="question1-radio5" value="Awful"     ng-model="mdl.question1">Awful   </ion-radio>
    </form>
    <h4>{{mdl.question1}}</h4>
    <a ui-sref="question2({question1: mdl.question1})" id="question1-button1" class="button button-positive button-block">Submit</a>
  </ion-content>
</ion-view>